body {
    background-color: rgb(212, 226, 235);
    align-items: center;
    display: inline-flex;
    justify-content: center; 

}

.resultado {
    background-color: rgb(174, 202, 255);
    width: 525px;
    display: inline-flex;
    flex-direction:column;
    align-items: center;
}





